@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



html{
  font-size: 70%;
}
body{
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --primary-color: #0D7957CC;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-customer{
  background-color: #0D795733;
}
.text-primary {
  color: var(--primary-color);
}

.border-primary {
  border-color: var(--primary-color);
}


/* Custom scrollbar styles */
@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: rgb(209 213 219) rgb(249 250 251);
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: rgb(249 250 251);
    border-radius: 4px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgb(209 213 219);
    border-radius: 4px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: rgb(156 163 175);
  }
}